<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coupons</key>
		<array>
			<string>ditie</string>
			<string>dianyingyuan</string>
			<string>kafei</string>
		</array>
		<key>BusinessmenAddress</key>
		<string>东城区东直门内大街233👌</string>
		<key>BusinessmenName</key>
		<string>胡大饭馆（东直门总店）</string>
		<key>BusinessmenNeedTime</key>
		<string>步行约8分钟</string>
		<key>BusinessmenDistance</key>
		<string>432m</string>
	</dict>
	<dict>
		<key>coupons</key>
		<array>
			<string>ditie</string>
			<string>dianyingyuan</string>
			<string>kafei</string>
		</array>
		<key>BusinessmenAddress</key>
		<string>东城区东直门内大街233👌</string>
		<key>BusinessmenName</key>
		<string>胡大饭馆（东直门总店）</string>
		<key>BusinessmenNeedTime</key>
		<string>步行约8分钟</string>
		<key>BusinessmenDistance</key>
		<string>432m</string>
	</dict>
	<dict>
		<key>coupons</key>
		<array>
			<string>ditie</string>
			<string>dianyingyuan</string>
			<string>kafei</string>
		</array>
		<key>BusinessmenAddress</key>
		<string>东城区东直门内大街233👌</string>
		<key>BusinessmenName</key>
		<string>胡大饭馆（东直门总店）</string>
		<key>BusinessmenNeedTime</key>
		<string>步行约8分钟</string>
		<key>BusinessmenDistance</key>
		<string>432m</string>
	</dict>
	<dict>
		<key>coupons</key>
		<array>
			<string>ditie</string>
			<string>dianyingyuan</string>
			<string>kafei</string>
		</array>
		<key>BusinessmenAddress</key>
		<string>东城区东直门内大街233👌</string>
		<key>BusinessmenName</key>
		<string>胡大饭馆（东直门总店）</string>
		<key>BusinessmenNeedTime</key>
		<string>步行约8分钟</string>
		<key>BusinessmenDistance</key>
		<string>432m</string>
	</dict>
	<dict>
		<key>coupons</key>
		<array>
			<string>ditie</string>
			<string>dianyingyuan</string>
			<string>kafei</string>
		</array>
		<key>BusinessmenAddress</key>
		<string>东城区东直门内大街233👌</string>
		<key>BusinessmenName</key>
		<string>胡大饭馆（东直门总店）</string>
		<key>BusinessmenNeedTime</key>
		<string>步行约8分钟</string>
		<key>BusinessmenDistance</key>
		<string>432m</string>
	</dict>
	<dict>
		<key>coupons</key>
		<array>
			<string>ditie</string>
			<string>dianyingyuan</string>
			<string>kafei</string>
		</array>
		<key>BusinessmenAddress</key>
		<string>东城区东直门内大街233👌</string>
		<key>BusinessmenName</key>
		<string>胡大饭馆（东直门总店）</string>
		<key>BusinessmenNeedTime</key>
		<string>步行约8分钟</string>
		<key>BusinessmenDistance</key>
		<string>432m</string>
	</dict>
	<dict>
		<key>coupons</key>
		<array>
			<string>ditie</string>
			<string>dianyingyuan</string>
			<string>kafei</string>
		</array>
		<key>BusinessmenAddress</key>
		<string>东城区东直门内大街233👌</string>
		<key>BusinessmenName</key>
		<string>胡大饭馆（东直门总店）</string>
		<key>BusinessmenNeedTime</key>
		<string>步行约8分钟</string>
		<key>BusinessmenDistance</key>
		<string>432m</string>
	</dict>
	<dict>
		<key>coupons</key>
		<array>
			<string>ditie</string>
			<string>dianyingyuan</string>
			<string>kafei</string>
		</array>
		<key>BusinessmenAddress</key>
		<string>东城区东直门内大街233👌</string>
		<key>BusinessmenName</key>
		<string>胡大饭馆（东直门总店）</string>
		<key>BusinessmenNeedTime</key>
		<string>步行约8分钟</string>
		<key>BusinessmenDistance</key>
		<string>432m</string>
	</dict>
</array>
</plist>
