<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>userHeadImg</key>
		<string>http://osx4pwgde.bkt.clouddn.com/b4.jpg?imageView2/1/w/160/h/160</string>
		<key>userNickname</key>
		<string>软软的糯米糍饿了</string>
		<key>footprintContent</key>
		<string>清粥小菜，服务很好，环境干净，菜是一般，有名气，开了很连接店。建议你去看看</string>
		<key>footprintAddress</key>
		<string>成都市菁蓉国际广场A1栋</string>
		<key>dateCreated</key>
		<integer>1499846462587</integer>
		<key>dateCreatedStr</key>
		<string>57分钟前</string>
		<key>footprintPhoto</key>
		<string>http://osx4pwgde.bkt.clouddn.com/c0ab21ab26b4694769b6e904788b3590630777.jpg</string>
		<key>footprintId</key>
		<integer>1</integer>
		<key>footprintType</key>
		<string>photo</string>
	</dict>
	<dict>
		<key>userHeadImg</key>
		<string>http://osx4pwgde.bkt.clouddn.com/b1.jpg?imageView2/1/w/160/h/160</string>
		<key>userNickname</key>
		<string>想起一个很长的名字</string>
		<key>footprintContent</key>
		<string>期待吃白鱼，肉质紧实鲜美，汤汁饱含鱼脂，想想都垂涎欲滴。</string>
		<key>footprintAddress</key>
		<string>成都市菁蓉国际广场A1栋</string>
		<key>dateCreated</key>
		<integer>1499846462587</integer>
		<key>dateCreatedStr</key>
		<string>2小时前</string>
		<key>footprintPhoto</key>
		<string>http://osx4pwgde.bkt.clouddn.com/c0ab21ab26b4694769b6e904788b3590630777.jpg</string>
		<key>footprintId</key>
		<integer>1</integer>
		<key>footprintType</key>
		<string></string>
	</dict>
	<dict>
		<key>userHeadImg</key>
		<string>http://osx4pwgde.bkt.clouddn.com/b4.jpg?imageView2/1/w/160/h/160</string>
		<key>userNickname</key>
		<string>软软的糯米糍饿了</string>
		<key>footprintContent</key>
		<string>清粥小菜，服务很好，环境干净，菜是一般，有名气，开了很连接店。建议你去看看</string>
		<key>footprintAddress</key>
		<string>成都市菁蓉国际广场A1栋</string>
		<key>dateCreated</key>
		<integer>1499846462587</integer>
		<key>dateCreatedStr</key>
		<string>5小时前</string>
		<key>footprintPhoto</key>
		<string></string>
		<key>footprintId</key>
		<integer>1</integer>
		<key>footprintType</key>
		<string></string>
	</dict>
	<dict>
		<key>userHeadImg</key>
		<string>http://osx4pwgde.bkt.clouddn.com/b4.jpg?imageView2/1/w/160/h/160</string>
		<key>userNickname</key>
		<string>软软的糯米糍饿了</string>
		<key>footprintContent</key>
		<string>清粥小菜，服务很好，环境干净，菜是一般，有名气，开了很连接店。建议你去看看</string>
		<key>footprintAddress</key>
		<string>成都市菁蓉国际广场A1栋</string>
		<key>dateCreated</key>
		<integer>1499846462587</integer>
		<key>dateCreatedStr</key>
		<string>23小时前</string>
		<key>footprintPhoto</key>
		<string></string>
		<key>footprintId</key>
		<integer>1</integer>
		<key>footprintType</key>
		<string></string>
	</dict>
	<dict>
		<key>userHeadImg</key>
		<string>http://osx4pwgde.bkt.clouddn.com/b4.jpg?imageView2/1/w/160/h/160</string>
		<key>userNickname</key>
		<string>软软的糯米糍饿了</string>
		<key>footprintContent</key>
		<string>清粥小菜，服务很好，环境干净，菜是一般，有名气，开了很连接店。建议你去看看</string>
		<key>footprintAddress</key>
		<string>成都市菁蓉国际广场A1栋</string>
		<key>dateCreated</key>
		<integer>1499846462587</integer>
		<key>dateCreatedStr</key>
		<string>1小时前</string>
		<key>footprintPhoto</key>
		<string>http://osx4pwgde.bkt.clouddn.com/1d4320a0fb289aa1b86dd63b2591eb75138052.jpg</string>
		<key>footprintId</key>
		<integer>1</integer>
		<key>footprintType</key>
		<string></string>
	</dict>
	<dict>
		<key>userHeadImg</key>
		<string>http://osx4pwgde.bkt.clouddn.com/b4.jpg?imageView2/1/w/160/h/160</string>
		<key>userNickname</key>
		<string>软软的糯米糍饿了</string>
		<key>footprintContent</key>
		<string>清粥小菜，服务很好，环境干净，菜是一般，有名气，开了很连接店。建议你去看看</string>
		<key>footprintAddress</key>
		<string>成都市菁蓉国际广场A1栋</string>
		<key>dateCreated</key>
		<integer>1499846462587</integer>
		<key>dateCreatedStr</key>
		<string>1小时前</string>
		<key>footprintPhoto</key>
		<string></string>
		<key>footprintId</key>
		<integer>1</integer>
		<key>footprintType</key>
		<string></string>
	</dict>
	<dict>
		<key>userHeadImg</key>
		<string>http://osx4pwgde.bkt.clouddn.com/b4.jpg?imageView2/1/w/160/h/160</string>
		<key>userNickname</key>
		<string>软软的糯米糍饿了</string>
		<key>footprintContent</key>
		<string>清粥小菜，服务很好，环境干净，菜是一般，有名气，开了很连接店。建议你去看看</string>
		<key>footprintAddress</key>
		<string>成都市菁蓉国际广场A1栋</string>
		<key>dateCreated</key>
		<integer>1499846462587</integer>
		<key>dateCreatedStr</key>
		<string>1小时前</string>
		<key>footprintPhoto</key>
		<string></string>
		<key>footprintId</key>
		<integer>1</integer>
		<key>footprintType</key>
		<string></string>
	</dict>
	<dict>
		<key>userHeadImg</key>
		<string>http://osx4pwgde.bkt.clouddn.com/b4.jpg?imageView2/1/w/160/h/160</string>
		<key>userNickname</key>
		<string>软软的糯米糍饿了</string>
		<key>footprintContent</key>
		<string>清粥小菜，服务很好，环境干净，菜是一般，有名气，开了很连接店。建议你去看看</string>
		<key>footprintAddress</key>
		<string>成都市菁蓉国际广场A1栋</string>
		<key>dateCreated</key>
		<integer>1499846462587</integer>
		<key>dateCreatedStr</key>
		<string>1小时前</string>
		<key>footprintPhoto</key>
		<string></string>
		<key>footprintId</key>
		<integer>1</integer>
		<key>footprintType</key>
		<string></string>
	</dict>
	<dict>
		<key>userHeadImg</key>
		<string>http://osx4pwgde.bkt.clouddn.com/b4.jpg?imageView2/1/w/160/h/160</string>
		<key>userNickname</key>
		<string>软软的糯米糍饿了</string>
		<key>footprintContent</key>
		<string>清粥小菜，服务很好，环境干净，菜是一般，有名气，开了很连接店。建议你去看看</string>
		<key>footprintAddress</key>
		<string>成都市菁蓉国际广场A1栋</string>
		<key>dateCreated</key>
		<integer>1499846462587</integer>
		<key>dateCreatedStr</key>
		<string>1小时前</string>
		<key>footprintPhoto</key>
		<string></string>
		<key>footprintId</key>
		<integer>1</integer>
		<key>footprintType</key>
		<string></string>
	</dict>
	<dict>
		<key>userHeadImg</key>
		<string>http://osx4pwgde.bkt.clouddn.com/b4.jpg?imageView2/1/w/160/h/160</string>
		<key>userNickname</key>
		<string>软软的糯米糍饿了</string>
		<key>footprintContent</key>
		<string>清粥小菜，服务很好，环境干净，菜是一般，有名气，开了很连接店。建议你去看看</string>
		<key>footprintAddress</key>
		<string>成都市菁蓉国际广场A1栋</string>
		<key>dateCreated</key>
		<integer>1499846462587</integer>
		<key>dateCreatedStr</key>
		<string>1小时前</string>
		<key>footprintPhoto</key>
		<string></string>
		<key>footprintId</key>
		<integer>1</integer>
		<key>footprintType</key>
		<string></string>
	</dict>
</array>
</plist>
