<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>month</key>
		<string>0</string>
		<key>monthData</key>
		<array>
			<dict>
				<key>dateCreated</key>
				<string>1501580980000</string>
				<key>day</key>
				<string>今天</string>
				<key>footprintAddress</key>
				<string>四川省成都市武侯区天府四街</string>
				<key>footprintContent</key>
				<string>这里还不错，欢迎大家来。</string>
				<key>footprintId</key>
				<string>39</string>
			</dict>
			<dict>
				<key>footprintId</key>
				<string>38</string>
				<key>footprintContent</key>
				<string>增加了一些距离。</string>
				<key>footprintAddress</key>
				<string>天府新区华阳华府大道一段518号蜀郡又一城116栋(近吉泰路)</string>
				<key>day</key>
				<string>今天</string>
				<key>dateCreated</key>
				<string>1501580936000</string>
			</dict>
			<dict>
				<key>footprintPhotoArray</key>
				<array>
					<string>http://osx4pwgde.bkt.clouddn.com/Fhr_R8CBq8S05N7cZYSpwPFOcDEU</string>
					<string>http://osx4pwgde.bkt.clouddn.com/Fto7wqFenz8ZsQ7pHseKgv7vAeNp</string>
					<string>http://osx4pwgde.bkt.clouddn.com/FiiXD-Fb2J3-kTKrUOMI53zyqgMZ</string>
				</array>
				<key>dateCreated</key>
				<string>1501564236000</string>
				<key>day</key>
				<string>今天</string>
				<key>footprintAddress</key>
				<string>成都市武侯区吉泰路</string>
				<key>footprintContent</key>
				<string>多张张片测试</string>
				<key>footprintId</key>
				<string>33</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>month</key>
		<string>7</string>
		<key>monthData</key>
		<array>
			<dict>
				<key>footprintPhotoArray</key>
				<array>
					<string>http://osx4pwgde.bkt.clouddn.com/Fo1oX7LyJqvmbYrZpig0xxAqKcEj</string>
				</array>
				<key>dateCreated</key>
				<string>1501491784000</string>
				<key>day</key>
				<string>31日</string>
				<key>footprintAddress</key>
				<string>成都市武侯区吉泰路</string>
				<key>footprintContent</key>
				<string>好热的天气</string>
				<key>footprintId</key>
				<string>28</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
